@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --backgroundElement: rgb(240, 240, 240);
}

body {
    margin: 0;
    padding: 20px;
    font-family: "Poppins";
    background: #ADD8E6;
}

* {
    color: #000000;
    margin: 0;
}

p {
    margin: 20px 0;
}

nav {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}

.paperBackground {
    background: var(--backgroundElement) !important;
}

.listSubHeader {
    background-color: rgba(0, 0, 0, 0%) !important;
    font-size: larger !important;
}

.button {
    background-color: #999999 !important;
    border-radius: .75em !important;
    color: #000000 !important;
    text-transform: none !important;
    font-size: medium !important;
}

.addMargin {
    margin: .5em !important;
}

.errorText {
    white-space: nowrap;
    padding: .5em;
}

.errorPaper {
    background-color: rgba(255, 0, 0, 50%) !important;
    width: min-content;
}

.confirmText {
    white-space: nowrap;
    padding: .5em;
}

.confirmPaper {
    background-color: rgba(0, 255, 0, 50%) !important;
    width: min-content;
}

#testerVocab {
    height: 1.5em;
}

#confirmVocab {
    margin-left: 2em;
}

#labelChangePassword {
    margin-left: .5em;
    margin-bottom: .5em;
    padding-top: .5em;
}

#labelCreateClass {
    margin-left: .5em;
    margin-bottom: .5em;
    padding-top: .5em;
}